<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @loan.name %></h1>
    <p>
      Thanks for consulting your loan projections with us.
    </p>
    <p>
      Please download the attached PDF to read your loan projection.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
